<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Add Contact</h2>
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="card-text">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-control" formControlName="name">
              </div>
              <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" id="phone" class="form-control" formControlName="phone">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control" formControlName="email">
              </div>
              <button type="submit" class="btn btn-primary mr-2">Add Contact</button>
              <button type="button" class="btn btn-secondary" routerLink="/">Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  