<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
            <div class="card-body">
                <h2 class="card-title">Contacts</h2>
                <table class="table">
                <thead>
                    <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let contact of contacts">
                    <td>{{contact.firstName}} {{contact.lastName}}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.phone }}</td>
                    <td>
                        <button routerLink="/edit-contact/{{ contact.id }}" class="btn btn-sm btn-primary">Edit</button>
                        <button (click)="deleteContact(contact)" class="btn btn-sm btn-danger">Delete</button>
                    </td>
                    </tr>
                </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>
